*{
     
}
h1{
    text-align:center
}
 div{
    padding-left: 33%;
    background-color: rgba(255,255,255,0.5);
   
     
  
 }
 #logo{
    font-size: 30px;
      
 }
 #nav{
     height:40px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: lightblue;
    padding: 10px;
     
   background-color: rgb(0, 0, 0);
    
 }
 p{
    text-decoration: none;
    background-color:rgb(0, 0, 0);
     display:inline ;
  }
  body{
    background-size:cover;
   background-image:url(" back.jpg");
  }
  #submit:hover{
   transition-duration: 0.5s;
    background-color: rgb(125, 115, 185);
   color:rgb(255, 255, 255)
}
